* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("IMAGE.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
}

.container {
  max-width: 600px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #333;
}
.rahul{
  
  margin-top: -80px;
  margin-bottom: 40px;
  color: blue;
}
.rahul h1{ color: blue;}

#text-display {
  margin: 20px 0;
  font-size: 1.2rem;
  color: #555;
}

#input-area {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.buttons {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

button:disabled {
  background-color: #aaa;
}

#result {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}
footer{
  /* display:flex;
  position:absolute;
  bottom:0;
  right:0; */
  
  font-weight: bolder;
  color:red;
}